<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/messages-board.css">
    <title><% title %></title>
</head>
<body>
    <% if (locals.timeMessage) {%>
        <%- include('partials/navbar.ejs', { user: user, time: timeMessage }) %>
    <% } else {%>
        <%- include('partials/navbar.ejs', { user: user }) %> 
    <% } %>
    
    <section class="posts-header-section">
        <div class="posts-header-container">
            <h1>What people are saying...</h1>
            <a href="/post/newPost/<%= user.id %>" class="add-post-link">Write a Message</a>
        </div>
        
    </section>
    <section class="posts-page-container">
        
        <div class="posts-container">
            <% posts.forEach(post => { %>
                <div class="post-container">
                    <div class="post-header-container">
                        <h3><%= post.title %></h3>
                        <% if (user.ismember === true) {%>
                            <p><%= post.time %></p> 
                        <% } %>
                    </div>
                    <p><%= post.text %></p>
                    <h4 class="user-post-info">
                        Posted by <%= user.ismember ? post.username : 'Anonymous' %>
                    </h4>
                    <% if (user.isadmin) {%>
                        <a href="/post/remove/<%= post.id %>" class="remove-post-link">
                            Remove
                        </a>
                    <% } %>
                </div>
                
            <% }) %>  
        </div>
        
    </section>
    
</body>
</html>