<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/messages-board.css">
    <title><% title %></title>
</head>
<body>
    <%- include('partials/navbar.ejs', { user: user }) %>
    <section class="posts-page-container">
        <a href="/post/newPost/<%= user.id %>" class="add-post-link">Write a Message</a>
        <h1>What people are saying...</h1>
        <!-- iterate through entire posts table, display each one,
        in order of when they were created -->
        <div class="posts-container">
            <% posts.forEach(post => { %>
                <div class="post-container">
                    <div class="post-header-container">
                        <h3><%= post.title %></h3>
                        <p><%= post.time %></p> 
                    </div>
                    <p><%= post.text %></p>
                    <h4 class="user-post-info">Posted by <%= post.username %></h4>
                </div>
                
            <% }) %>  
        </div>

    </section>
    
</body>
</html>